<%- include('partials/header.ejs'); -%>
<div class="navbar-fixed">
    <nav>

        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">im.</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"
                        style="color: rgb(75, 0, 110)">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a style="color: rgb(29, 29, 29)">Admin</a>
                    </li>
                    <li>
                        <form method="get" action="/admin_logout">
                            <button class="waves-effect waves-light btn btn-outline" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a><a>Admin</a></a></li>
    <li><a>Logout</a></li>
</ul><br><br>
<div class="container">
    <div class="col s12">
        <a class="waves-effect waves-light btn-large" href="/admin_year/<%= year4 %>"><%= year4 %> </a> <a
            class="waves-effect waves-light btn-large" href="/admin_year/<%= year3 %>"><%= year3 %> </a> <a
            class="waves-effect waves-light btn-large" href="/admin_year/<%= year2 %>""><%= year4 %> </a> </div>
</div>
<%- include('partials/footer.ejs'); -%>