<%- include('partials/header.ejs'); -%>
<div data-aos="zoom-in">
<div class="main-container">
    <div class="home-top">
<div class="home">
<img src="img/AU.png" class='home-logo' alt='img'>
    <h4 class='home-head'>Univeristy college of Engineering - Kancheepuram</h4>
    <h5 class="home-sub">Department of Computer Science and Engineering</h5>
    <br>
<div class="col s12">
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year4 %>">Year IV</a>
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year3 %>">Year III</a>
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year2 %>">Year II</a>
</div>
</div>
</div>
</div>
</div>
<%- include('partials/footer.ejs'); -%>