<%- include('partials/header.ejs'); -%>
<div class="navbar-fixed">
    <nav>

        <div class="container">
            <div class="nav-wrapper">
                <a href="" class="brand-logo">im.</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"
                        style="color: rgb(75, 0, 110)">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a style="color: rgb(29, 29, 29)"><%= id %></a>
                    </li>
                    <li>
                        <form method="get" action="/staffs_logout">
                            <button class="waves-effect waves-light btn btn-outline" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a><%= id %></a></li>
    <li><a>Logout</a></li>
</ul><br><br>
<div class="container formfield">
<div class="col s12">
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year4 %>">Year IV</a><br>
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year3 %>">Year III</a><br>
    <a class="waves-effect waves-light btn-large" href="staffs_year/<%= year2 %>">Year II</a><br>
</div>
</div>

<%- include('partials/footer.ejs'); -%>